.box-form-customer {
  flex: 1;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.title-form-customer {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.search-order {
  text-align: right;
  margin-bottom: 20px;
}

.box-table-order {
  margin-top: 20px;
}

.search-order input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search-order button {
  padding: 8px 20px;
  margin-left: 10px;
  border: none;
  background-color: #00194f;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.search-order button:hover {
  opacity: 0.6;
}

.table-order {
  overflow-x: auto;
  border-radius: 10px;
  max-height: 60vh;
}

.table-order table {
  width: 100%;
  border-collapse: collapse;
}

.table-order th,
.table-order td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 0.8rem;
}

.table-order th {
  background-color: #00194f;
  font-weight: bold;
  color: #fff;
}

.table-order tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-order tr:hover {
  background-color: #f1f1f1af;
}

.price-order {
  font-weight: 600;
}

.btn-view-detail {
  font-weight: 600;
  color: #00133d;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.btn-view-detail:hover {
  color: rgb(248, 101, 16);
}

.tag-status-order,
.tag-method-order {
  font-size: 0.6rem;
  display: block;
  font-weight: 600;
  color: #fff;
  border-radius: 8px;
  padding: 4px;
}

/* Status */
.status-cancelled {
  background-color: #e53935;
}

.status-completed {
  background-color: #43a047;
}

.status-onprocess {
  background-color: #0288d1;
}

.status-waiting {
  background-color: #ffb300;
}

.status-preparing {
  background-color: #fb8c00;
}

.status-pending {
  background-color: #fbc02d;
}

/* Method */
.method-land {
  background-color: #ee5c00;
}

.method-air {
  background-color: #0369c5;
}

.method-sea {
  background-color: #000;
}

.btn-delete-order {
  color: red;
}